*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#0F0F0F;
color:white;
display:flex;
}

.sidebar{
width:250px;
height:100vh;
background:#111827;
padding:20px;
position:fixed;
}

.sidebar h2{
color:#7C3AED;
margin-bottom:20px;
}

.sidebar a{
display:block;
color:white;
text-decoration:none;
padding:12px;
margin:8px 0;
border-radius:10px;
}

.sidebar a:hover{
background:#7C3AED;
}

.main{
margin-left:260px;
padding:30px;
width:100%;
}

.cards{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));
gap:20px;
}

.card{
background:#1E1E1E;
padding:20px;
border-radius:15px;
}

.card h3{
color:#22C55E;
}

button{
background:#7C3AED;
color:white;
border:none;
padding:12px 20px;
border-radius:10px;
cursor:pointer;
}

.progress{
height:12px;
background:#333;
border-radius:10px;
}

.progress-bar{
height:100%;
background:#22C55E;
width:88%;
}
